.specific__post {
    padding: 1.5em;
    border-radius: 25px;
    border: 2px var(--softgreen) solid;
    background-color: white;
}

.specific__post a {
    color: crimson;
}

.thumbnail {
    width: 150px;
    border-radius: 10px;
}

.map-icon:hover {
    width: 30px;
    height: 25px;
}

.thumbnail__mockup {
    padding: 0;
    /*    mock styles to show most recent photo only: */
    max-height: 300px;
    overflow: hidden;
}

.thumbnail-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    margin: 0 0 15px 0;
    background-color: var(--lightgrey);
    border-radius: 15px;
}

.dashboard__page .thumbnail-container {
    max-height: 365px;
}

.true-image__visible p {
    padding: 1em;
}

.posts {
    padding: 1em;
}

.tiny-info {
    font-size: 12px;
    font-weight: bold;
    color: #666;
}

.no-image {
    position: relative;
}

.no-image p {
    position: absolute;
    top: 25px;
    left: 10px;
    background-color: RGBA(255,255,255,0.6);
    font-size: 1.5em;
    font-weight: bold;
    color: cadetblue;
}

svg.svg-external {
    width: 20px;
    height: 20px;
    fill: #f7a1c6;
    stroke: #f7a1c6;
}

.mapped__posts {
    padding: 1em;
    background-color: var(--softgreen);
    border-radius: 25px;
}

.newsfeed__page .mapped__posts {
    background-color: var(--softbrown);
}

.mapped__posts span {
    margin: 0 1em 0 0;
}
.mapped__posts span.no-image {
    margin: 0;
}

.mapped__posts li, .mapped__posts.item {
    display: flex;
    padding: 1em;
    margin: 5px 0 10px 0;
    border-radius: 25px;
    border: 5px var(--hardgreen) solid;
    background-color: white;
}

.newsfeed__page .mapped__posts li {
    border: 5px #bb9890 solid;
}

.mapped__post__title {
    font-size: 1.3em;
    font-weight: bold;
}

.mapped__post__title a {
    color: var(--hardpink);
    text-decoration: none;
}

.newsfeed__page .mapped__post__title a {
    color: var(--blackcontrast);
}

.mapped__post__author {
    font-size: 0.9em;
    font-style: italic;
}

.mapped__post__detail,
.mapped__post__detail a,
.mapped__post__nation,
.mapped__post__nation a {
    color: var(--AccessibleGreen);
    font-size: 0.9em;
    font-weight: bold;
}

.mapped__post__details p {
    margin: 0.3em 0 0 0;
}

.mapped__post__votes {
    font-size: 1.1em;
    font-weight: bold;
}

.searchfilter__forms {
    display: flex;
    flex-direction: row;
}

.searchfilter__forms input {
    visibility: hidden;
    display: none;
}

.searchfilter__forms button {
    width: 200px;
    margin: 0 10px 0 0;
    border-radius: 30px;
}
.searchfilter__forms button:hover {
    width: 200px;
    margin: 0 10px 0 0;
    border-radius: 30px;
}