@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@font-face {
  font-family: 'tensoregular';
  src: url('./assets/fonts/03_Tenso_Regular-webfont.woff2') format('woff2'),
  url('./assets/fonts/03_Tenso_Regular-webfont.woff') format('woff'),
  url('./assets/fonts/03_Tenso_Regular.otf') format('opentype'),
  url('./assets/fonts/03_Tenso_Regular-webfont.ttf') format('truetype'),
  url('./assets/fonts/03_Tenso_Regular-webfont.svg#tensoregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

:root {
  --hardpink: #E2126D;
  --hardgreen: #0DA89D;
  --softgreen: #E7FDFC;
  --softpink: #FDE7F1;
  --softbrown: #EEE5E3;
}

body {
  font-family: 'tensoregular', Arial, sans-serif;
  background-color: slategrey;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  font-size:20px;
  box-sizing: border-box;
}

#root {
  background-color: var(--softbrown);
  background: var(--softbrown);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fff), color-stop(100%,var(--softbrown)));
  background: -webkit-linear-gradient(top,  #fff 0%, var(--softbrown) 100%);
  background:    -moz-linear-gradient(top,  #fff 0%, var(--softbrown) 100%);
  background:     -ms-linear-gradient(top,  #fff 0%, var(--softbrown) 100%);
  background:      -o-linear-gradient(top,  #fff 0%, var(--softbrown) 100%);
  background:         linear-gradient(to bottom, #fff 0%, var(--softbrown) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#EEE5E3',GradientType=0 );
  background-attachment: fixed;
  padding: 0;
  margin: 1em;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.main {
  background-color: white;
  padding: 1em;
  max-width: 925px;
  margin: 0.5em;
  border-radius: 25px;
  z-index: 30;
}

.wrapper {
  line-height: 1.4;
  padding: 30px;
  max-width: 600px;
  margin: 0 auto;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  line-height: 1.4;
  padding: 100px;
  max-width: 800px;
  /*margin: 0 auto;*/
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Fredoka One', Verdana, cursive;
}
h1 {
  font-size: 2em;
}

.hardpink, a {
  color: var(--hardpink);
}

.hardgreen, a:hover {
  color: var(--hardgreen);
}

button {
  cursor: pointer;
}

button[type=button] {
  border-radius: 5px;
  color: var(--hardpink);
  font-size: 20px;
  font-weight: bold;
  margin: 1em 0 10px 0;
  padding: 10px 16px;
  width: 420px;
  background-color: var(--softpink);
  border: 1px solid var(--hardpink);
}
button[type=button]:hover {
  border-radius: 5px;
  color: var(--softpink);
  font-size: 20px;
  font-weight: bold;
  margin: 1em 0 10px 0;
  padding: 10px 16px;
  width: 420px;
  background-color: #000;
  border: 1px solid #000;
}

.error-message {
  padding: 16px 0;
  color: var(--hardpink);
  border-radius: 8px;
}

.transparent {
  zoom: 1;
  filter: alpha(opacity=40);
  opacity: 0.4;
}