input {
    font-family: 'tensoregular', Arial, sans-serif;
    border-radius: 5px;
    font-size: 16px;
    margin: 1em 0 10px 0;
    padding: 10px 16px;
    width: 420px;
    border: 1px solid var(--hardpink);
}

button:hover, input[type=submit], input[type=button], button[type=submit] {
    border-radius: 5px;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    margin: 1em 0 10px 0;
    padding: 10px 16px;
    width: 420px;
    background-color: var(--hardpink);
    border: 1px solid var(--hardpink);
}

.search__page input {
    border: 1px solid var(--AccessibleGreen);
}

.search__page  input[type=submit], .search__page input[type=button], .search__page button[type=submit] {
    background-color: var(--AccessibleGreen);
    border: 1px solid var(--AccessibleGreen);
}

button:focus, input[type=submit]:focus, input[type=button]:focus, button[type=submit]:focus {
    outline: 2px dotted black;
}

button, input[type=submit]:hover, input[type=button]:hover, button[type=submit]:hover {
    border-radius: 5px;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    margin: 1em 0 10px 0;
    padding: 10px 16px;
    width: 420px;
    background-color: var(--blackcontrast);
    border: 1px solid var(--blackcontrast);
}

textarea {
    font-family: 'tensoregular', Arial, sans-serif;
    min-width: 400px;
    height: 150px;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 10px;
    padding: 6px 10px;
    border: 1px solid var(--hardpink);
}

.narrow, .narrow .input, .narrow button, input.narrow, input#narrow, input[type=file], input[type=submit]#narrow, input[type=button]#narrow, button[type=submit]#narrow, input[type=submit]#narrow:hover, input[type=button]#narrow:hover, button[type=submit]#narrow:hover {
    width: initial;
    max-width: 250px;
}
