.modal__body {
    position: absolute;
    top: 1em;
    background-color: var(--softpink);
    width: 75%;
    margin: 0 2em 1em 2em;
    border: 2px solid #f9b8d4;
    border-radius: 25px;
    z-index: 35;
}

.dashboard__modal {
    background-color: #FFF;
    margin: 1em;
    border: 2px solid var(--hardpink);
    border-radius: 25px;
    z-index: 35;
}


.modal__body .close {
    text-align: right;
}

.modal__body form button,
.modal__body form input {
    max-width: 250px;
}

.modal__body .close button {
    max-width: 120px;
    font-size: 0.8em;
    margin: 0 1em 0 0;
    color: #fff;
    background-color: var(--blackcontrast);
    border: 1px solid var(--blackcontrast);
}

.modal__body .close button:hover {
    color: #fff;
    background-color: var(--AccessibleGreen);
    border: 1px solid var(--hardgreen);
}