.closette-logo {
    margin-right: 3em;
}

.top-nav__navigation {
    display: flex;
    justify-content: space-between;
    height: 50px;
}

.top-nav__navigation a {
    color: var(--hardpink);
    font-weight: 900;
}

.top-nav__navigation ul {
    list-style: none;
    display:flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.top-nav__navigation ul li {
    list-style-type: none;
    padding-right: 15px;
}

.top-nav__hamburger {
    position: fixed;
    top: 0;
    z-index: 30;
}

.hamburger {
    display: none;
    visibility: hidden;
}

svg.svg-lookingglass-icon.mobile, svg.svg-plus-icon.mobile {
    display: none;
    visibility: hidden;
}

@keyframes slideInFromRight {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}

@media only screen and (max-width: 870px) {

    .hamburger {
        display: inline-block;
        visibility: initial;
        position: fixed;
        padding-top: 20px;
        margin: 5px;
        z-index: 30;
        right: 5px;
    }
    .open .hamburger {
        position: fixed;
        margin: 5px;
        z-index: 30;
        right: 5px;
    }

    .top-nav__navigation.open ul {
        animation: 0.4s ease-out 0s 1 slideInFromRight;
        display: inline;
        line-height: 2;
        font-size: 150%;
        background-color: #fff;
        border-left: 3px solid var(--softbrown);
        height: 100vh;
        width: 50vw;
        padding: 2em;
        margin-top: 0;
        position: fixed;
        right: 5px;
        top: -5px;
        z-index: 20;
    }

    .top-nav__navigation ul {
        display: none;
    }

    svg.svg-lookingglass-icon.mobile, svg.svg-plus-icon.mobile {
        background-color: #fff;
        border-radius: 5px;
        display: inline-block;
        visibility: initial;
        position: fixed;
        top: 5px;
    }
    svg.svg-plus-icon.mobile {
        right: 50px;
    }
    svg.svg-lookingglass-icon.mobile {
        right: 100px;
    }
}