/* Module van maken omdat dit de enige checkboxes mogen zijn met een slider stijl */
/* Alle andere checkboxes mogen in default stijl */

.slider-container {
	background-color: white;
	padding: 8px 15px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-end;
}

.slider-container span:first-child {
	margin-right: 1em;
	margin-left: 0;
}

.switch-wrapper {
	position: relative;
}

.switch-label, .extra-label-info {
	font-size: 12px;
	font-weight: bold;
	color: #666;
	padding: 0 8px;
}

.switch {
	position: absolute;
	top: 0;
	left: 0;
	width: 60px;
	height: 20px;
	z-index: 1;
	opacity: 0;
}

.switch-btn {
	box-sizing: border-box;
	position: relative;
	outline: none;
	width: 2rem;
	height: 1.1rem;
	display: block;
	cursor: pointer;
	background: var(--hardpink);
	border-radius: 2rem;
	padding: 3px;
	transition: all .4s ease;
}

.switch-btn::after {
	position: relative;
	left: 0;
	display: block;
	content: "";
	width: 50%;
	height: 100%;
	border-radius: 50%;
	background: white;
	transition: all .2s ease;
}

.switch:checked + .switch-btn {
	background: var(--hardgreen);
}

.switch:checked + .switch-btn::after {
	left: 50%;
}
