.scroll {
    position: fixed;
    bottom: 20px;
    right: 5px;
    background-color: var(--softpink);
    width: 50px;
    height: 50px;
    border-radius: 10px;
    border: 2px solid transparent;
    color: var(--hardpink);
    text-align: center;
    font-family: Verdana, sans-serif;
    font-size: 2em;
    z-index: 40;
}